In [2]:
from ViV_backend.model import Model

2022-08-02 19:46:12.094396: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory
2022-08-02 19:46:12.094439: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.
2022-08-02 19:46:13.655681: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:925] could not open file to read NUMA node: /sys/bus/pci/devices/0000:01:00.0/numa_node
Your kernel may have been built without NUMA support.
2022-08-02 19:46:13.658124: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory
2022-08-02 19:46:13.658195: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcublas.so.11'; dlerror: libcublas.so.11: cannot open shared object file: No such file or directory
2022-08-02 19:46:13.658256: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcublasLt.so.11'; dlerror: libcublasLt.so.11: cannot open shared object file: No such file or directory
2022-08-02 19:46:13.658316: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcufft.so.10'; dlerror: libcufft.so.10: cannot open shared object file: No such file or directory
2022-08-02 19:46:13.658375: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcurand.so.10'; dlerror: libcurand.so.10: cannot open shared object file: No such file or directory
2022-08-02 19:46:13.658436: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcusolver.so.11'; dlerror: libcusolver.so.11: cannot open shared object file: No such file or directory
2022-08-02 19:46:13.658494: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcusparse.so.11'; dlerror: libcusparse.so.11: cannot open shared object file: No such file or directory
2022-08-02 19:46:13.658554: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudnn.so.8'; dlerror: libcudnn.so.8: cannot open shared object file: No such file or directory
2022-08-02 19:46:13.658564: W tensorflow/core/common_runtime/gpu/gpu_device.cc:1850] Cannot dlopen some GPU libraries. Please make sure the missing libraries mentioned above are installed properly if you would like to use GPU. Follow the guide at https://www.tensorflow.org/install/gpu for how to download and setup the required libraries for your platform.
Skipping registering GPU devices...

In [4]:
model = Model()

In [9]:
a = model.predict("hey looking for friends here. male or female preferably people who likes to travel and outdoor activities.")

In [6]:
import pandas as pd

In [7]:
df = pd.read_csv("df_final_cleaned.csv")

In [8]:
df

,Dominant_Topic,Topic_Perc_Contrib,Keywords,Text_x,age,status,sex,location
0,3.0,0.1689,"wear, make, bad, hate, girl, eye, dress, hair,...",about me: i would love to think that i was so...,22,single,1,"south san francisco, california"
1,6.0,0.0916,"guy, fun, pretty, good, friend, person, meet, ...",i am a chef: this is what that means. 1. i am ...,35,single,1,"oakland, california"
2,17.0,0.1762,"profile, write, word, date, read, message, que...","i'm not ashamed of much, but writing public te...",38,available,1,"san francisco, california"
3,15.0,0.0698,"work, school, job, year, start, college, high,...",i work in a library and go to school. . .,23,single,1,"berkeley, california"
4,17.0,0.1144,"profile, write, word, date, read, message, que...",hey how's it going? currently vague on the pro...,29,single,1,"san francisco, california"
...,...,...,...,...,...,...,...,...
54453,8.0,0.1341,"life, enjoy, experience, live, share, world, f...","vibrant, expressive, caring optimist. i love b...",59,single,2,"oakland, california"
54454,11.0,0.1099,"art, creative, film, interest, world, learn, a...",i'm nick. i never know what to write about mys...,24,single,1,"san francisco, california"
54455,2.0,0.1678,"enjoy, love, movie, watch, sport, play, home, ...","hello! i enjoy traveling, watching movies, and...",42,single,1,"south san francisco, california"
54456,3.0,0.0921,"wear, make, bad, hate, girl, eye, dress, hair,...","""all i have in this world are my balls and my ...",27,single,1,"san francisco, california"
54457,17.0,0.1268,"profile, write, word, date, read, message, que...","is it odd that having a little ""enemy"" status ...",39,single,1,"san francisco, california"

In [11]:
type(a)

list

In [15]:
b =a.sort()

In [18]:
sorted(a)

[(0, 0.04785874685475157),
 (1, 0.04984847862705135),
 (2, 0.047846889952157814),
 (3, 0.050950657210758254),
 (4, 0.052142605435642586),
 (5, 0.047846889952157814),
 (6, 0.06260080789102858),
 (7, 0.04808917913144919),
 (8, 0.047846889952157814),
 (9, 0.04786699947301717),
 (10, 0.047846889952157814),
 (11, 0.06224219375753814),
 (12, 0.059349447016313034),
 (13, 0.049225403919714146),
 (14, 0.047846889952157814),
 (15, 0.04790091557061016),
 (16, 0.04785872674925087),
 (17, 0.06661530748347755),
 (18, 0.0682160811186084)]

In [21]:
a[0][1]

0.04785874685475157

In [25]:
for i, v in enumerate(a):
    print(v[1])

0.04785874685475157
0.04984847862705135
0.047846889952157814
0.050950657210758254
0.052142605435642586
0.047846889952157814
0.06260080789102858
0.04808917913144919
0.047846889952157814
0.04786699947301717
0.047846889952157814
0.06224219375753814
0.059349447016313034
0.049225403919714146
0.047846889952157814
0.04790091557061016
0.04785872674925087
0.06661530748347755
0.0682160811186084