In [1]:
from ViV_backend.model import Model

2022-08-03 16:09:50.190151: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory
2022-08-03 16:09:50.190191: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.
2022-08-03 16:09:54.279957: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:925] could not open file to read NUMA node: /sys/bus/pci/devices/0000:01:00.0/numa_node
Your kernel may have been built without NUMA support.
2022-08-03 16:09:54.287252: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory
2022-08-03 16:09:54.287333: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcublas.so.11'; dlerror: libcublas.so.11: cannot open shared object file: No such file or directory
2022-08-03 16:09:54.287396: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcublasLt.so.11'; dlerror: libcublasLt.so.11: cannot open shared object file: No such file or directory
2022-08-03 16:09:54.287459: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcufft.so.10'; dlerror: libcufft.so.10: cannot open shared object file: No such file or directory
2022-08-03 16:09:54.287519: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcurand.so.10'; dlerror: libcurand.so.10: cannot open shared object file: No such file or directory
2022-08-03 16:09:54.287580: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcusolver.so.11'; dlerror: libcusolver.so.11: cannot open shared object file: No such file or directory
2022-08-03 16:09:54.287640: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcusparse.so.11'; dlerror: libcusparse.so.11: cannot open shared object file: No such file or directory
2022-08-03 16:09:54.287700: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudnn.so.8'; dlerror: libcudnn.so.8: cannot open shared object file: No such file or directory
2022-08-03 16:09:54.287710: W tensorflow/core/common_runtime/gpu/gpu_device.cc:1850] Cannot dlopen some GPU libraries. Please make sure the missing libraries mentioned above are installed properly if you would like to use GPU. Follow the guide at https://www.tensorflow.org/install/gpu for how to download and setup the required libraries for your platform.
Skipping registering GPU devices...

In [2]:
import pandas as pd 
import numpy as np

In [3]:
model = Model()

In [9]:
a = model.predict("hey looking for friends here. male or female preferably people who likes to travel and outdoor activities.")

In [78]:
main_df = pd.read_csv("df_final_cleaned.csv")

In [79]:
main_df

,Dominant_Topic,Topic_Perc_Contrib,Keywords,Text_x,age,status,sex,location
0,3.0,0.1689,"wear, make, bad, hate, girl, eye, dress, hair,...",about me: i would love to think that i was so...,22,single,1,"south san francisco, california"
1,6.0,0.0916,"guy, fun, pretty, good, friend, person, meet, ...",i am a chef: this is what that means. 1. i am ...,35,single,1,"oakland, california"
2,17.0,0.1762,"profile, write, word, date, read, message, que...","i'm not ashamed of much, but writing public te...",38,available,1,"san francisco, california"
3,15.0,0.0698,"work, school, job, year, start, college, high,...",i work in a library and go to school. . .,23,single,1,"berkeley, california"
4,17.0,0.1144,"profile, write, word, date, read, message, que...",hey how's it going? currently vague on the pro...,29,single,1,"san francisco, california"
...,...,...,...,...,...,...,...,...
54453,8.0,0.1341,"life, enjoy, experience, live, share, world, f...","vibrant, expressive, caring optimist. i love b...",59,single,2,"oakland, california"
54454,11.0,0.1099,"art, creative, film, interest, world, learn, a...",i'm nick. i never know what to write about mys...,24,single,1,"san francisco, california"
54455,2.0,0.1678,"enjoy, love, movie, watch, sport, play, home, ...","hello! i enjoy traveling, watching movies, and...",42,single,1,"south san francisco, california"
54456,3.0,0.0921,"wear, make, bad, hate, girl, eye, dress, hair,...","""all i have in this world are my balls and my ...",27,single,1,"san francisco, california"
54457,17.0,0.1268,"profile, write, word, date, read, message, que...","is it odd that having a little ""enemy"" status ...",39,single,1,"san francisco, california"

In [76]:
def user_topic(bio):
    
    output = model.predict(bio)
    df = pd.DataFrame(output,columns=["Dominant_No","Score"])
    df["Dominant_No"] = df["Dominant_No"].apply(lambda x: x+1)
    df.sort_values(by = 'Score' , ascending = False , inplace =True)

    return df[:4]

In [82]:
def output_matches():
    topic_df = user_topic(bio)
    topics= [topic_df['Dominant_No']]
    
    
    return main_df[main_df['Dominant_Topic'].isin(topics)]

In [77]:
head("hey looking for friends here. male or female preferably people who likes to travel and outdoor activities.")

    Dominant_No     Score
18           19  0.068209
17           18  0.066615
6             7  0.062600
11           12  0.062240

In [84]:
t = [1,2,3]

In [100]:
main_df[main_df['Dominant_Topic'].isin(t)]

,Dominant_Topic,Topic_Perc_Contrib,Keywords,Text_x,age,status,sex,location
0,3,0.1689,"wear, make, bad, hate, girl, eye, dress, hair,...",about me: i would love to think that i was so...,22,single,1,"south san francisco, california"
7,1,0.0958,"music, play, love, game, dance, listen, read, ...",my names jake. i'm a creative guy and i look f...,37,single,1,"san mateo, california"
11,1,0.1541,"music, play, love, game, dance, listen, read, ...","i just moved to the bay area from austin, tx (...",33,single,1,"oakland, california"
18,3,0.1275,"wear, make, bad, hate, girl, eye, dress, hair,...",here's a completely fake summary i wrote while...,30,single,1,"san francisco, california"
19,3,0.1068,"wear, make, bad, hate, girl, eye, dress, hair,...","bay area transplant six years or so now, strai...",33,single,1,"oakland, california"
...,...,...,...,...,...,...,...,...
54438,1,0.1695,"music, play, love, game, dance, listen, read, ...",i like hanging out with friends and meeting ne...,22,single,1,"oakland, california"
54441,3,0.0977,"wear, make, bad, hate, girl, eye, dress, hair,...",my interests dictate that i should really be a...,26,single,2,"oakland, california"
54445,3,0.1024,"wear, make, bad, hate, girl, eye, dress, hair,...","i'm tall, good looking, nice hair, and a sarca...",21,single,1,"oakland, california"
54455,2,0.1678,"enjoy, love, movie, watch, sport, play, home, ...","hello! i enjoy traveling, watching movies, and...",42,single,1,"south san francisco, california"
54456,3,0.0921,"wear, make, bad, hate, girl, eye, dress, hair,...","""all i have in this world are my balls and my ...",27,single,1,"san francisco, california"

In [95]:
main_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54458 entries, 0 to 54457
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Dominant_Topic      54458 non-null  float64
 1   Topic_Perc_Contrib  54458 non-null  float64
 2   Keywords            54458 non-null  object
 3   Text_x              54458 non-null  object
 4   age                 54458 non-null  int64
 5   status              54458 non-null  object
 6   sex                 54458 non-null  int64
 7   location            54458 non-null  object
dtypes: float64(2), int64(2), object(4)
memory usage: 3.3+ MB

In [96]:
main_df['Dominant_Topic'] = main_df['Dominant_Topic'].astype('int8')

In [101]:
!pip add .

ERROR: unknown command "add"

In [107]:
!git add .

In [108]:
!git commit -m "try this functions bro again"

[norty2 11607ea] try this functions bro again
 1 file changed, 99 insertions(+), 5 deletions(-)

In [109]:
!git push origin norty2

Enumerating objects: 5, done.
Counting objects: 100% (5/5), done.
Delta compression using up to 12 threads
Compressing objects: 100% (3/3), done.
Writing objects: 100% (3/3), 941 bytes | 941.00 KiB/s, done.
Total 3 (delta 2), reused 0 (delta 0)
remote: Resolving deltas: 100% (2/2), completed with 2 local objects.
To github.com:yourpandaboy/ViV.git
   385a401..11607ea  norty2 -> norty2

In [110]:
!gh browse

Opening github.com/yourpandaboy/ViV in your browser.