In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df = pd.read_csv("/home/nortycute/code/yourpandaboy/ViV/df_final_cleaned.csv")

In [5]:
from ViV_backend.matcher import Matcher

2022-08-08 13:07:02.414178: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory
2022-08-08 13:07:02.414252: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.
2022-08-08 13:07:03.859635: I tensorflow/stream_executor/cuda/cuda_gpu_executor.cc:925] could not open file to read NUMA node: /sys/bus/pci/devices/0000:01:00.0/numa_node
Your kernel may have been built without NUMA support.
2022-08-08 13:07:03.862911: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory
2022-08-08 13:07:03.862972: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcublas.so.11'; dlerror: libcublas.so.11: cannot open shared object file: No such file or directory
2022-08-08 13:07:03.863024: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcublasLt.so.11'; dlerror: libcublasLt.so.11: cannot open shared object file: No such file or directory
2022-08-08 13:07:03.863075: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcufft.so.10'; dlerror: libcufft.so.10: cannot open shared object file: No such file or directory
2022-08-08 13:07:03.863124: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcurand.so.10'; dlerror: libcurand.so.10: cannot open shared object file: No such file or directory
2022-08-08 13:07:03.863173: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcusolver.so.11'; dlerror: libcusolver.so.11: cannot open shared object file: No such file or directory
2022-08-08 13:07:03.863222: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcusparse.so.11'; dlerror: libcusparse.so.11: cannot open shared object file: No such file or directory
2022-08-08 13:07:03.863271: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudnn.so.8'; dlerror: libcudnn.so.8: cannot open shared object file: No such file or directory
2022-08-08 13:07:03.863281: W tensorflow/core/common_runtime/gpu/gpu_device.cc:1850] Cannot dlopen some GPU libraries. Please make sure the missing libraries mentioned above are installed properly if you would like to use GPU. Follow the guide at https://www.tensorflow.org/install/gpu for how to download and setup the required libraries for your platform.
Skipping registering GPU devices...

In [6]:
tmp_user = Matcher('looking for someone to scroll endlessly through netflix. Or to yell out songs at the nearest karaoke. I enjoy cooking, travelling, singing, karaoke, gaming.').user_topic()

In [7]:
tmp_matches = Matcher('looking for someone to scroll endlessly through netflix. Or to yell out songs at the nearest karaoke. I enjoy cooking, travelling, singing, karaoke, gaming.').output_matches()

In [8]:
tmp_user['5_more'] = tmp_user['Score'] * 1.05

In [9]:
tmp_user['5_less'] = tmp_user['Score'] * 0.95

In [17]:
tmp_matches

,Dominant_Topic,Topic_Perc_Contrib,Keywords,Text_x,age,status,sex,location
1,6.0,0.0916,"guy, fun, pretty, good, friend, person, meet, ...",i am a chef: this is what that means. 1. i am ...,35,single,1,"oakland, california"
30,6.0,0.0529,"guy, fun, pretty, good, friend, person, meet, ...",new here. coming soon ;),26,single,1,"san francisco, california"
41,13.0,0.1087,"love, friend, family, great, good, life, close...","1985- born, varberg, sweden 1986- knew how to ...",27,single,1,"san francisco, california"
51,4.0,0.1568,"open, honest, kind, good, passionate, person, ...","when it comes to my own life, i do as i please...",31,single,1,"san francisco, california"
63,4.0,0.1269,"open, honest, kind, good, passionate, person, ...",i can be extroverted and charming and yet enjo...,28,single,1,"oakland, california"
...,...,...,...,...,...,...,...,...
54428,6.0,0.0816,"guy, fun, pretty, good, friend, person, meet, ...",i have lived in sf off and on for 7.5 years no...,29,single,2,"san francisco, california"
54434,4.0,0.1208,"open, honest, kind, good, passionate, person, ...",southern charm with california style....i'm a ...,40,single,2,"san francisco, california"
54437,6.0,0.0991,"guy, fun, pretty, good, friend, person, meet, ...",just kind of a silly girl. super geek. ultra n...,22,single,2,"san francisco, california"
54446,13.0,0.0852,"love, friend, family, great, good, life, close...",i'm a southern girl from tennesse who moved to...,30,single,2,"san francisco, california"
54451,13.0,0.1172,"love, friend, family, great, good, life, close...",hi there and thanks for checking out my profil...,52,single,1,"san carlos, california"

In [10]:
tmp_user

    Dominant_No     Score    5_more    5_less
12           13  0.075372  0.079141  0.071604
18           19  0.074685  0.078419  0.070951
5             6  0.053728  0.056414  0.051041
3             4  0.051260  0.053823  0.048697

In [11]:
topics = [13,19,6,4]
bounds = [0.075366,0.074698,0.053722,0.051259]

In [15]:

dfs = []
for topic, bound in zip(topics, bounds):
    df = tmp_matches[tmp_matches['Dominant_Topic']==topic][(tmp_matches['Topic_Perc_Contrib'] >= bound*.95) & (tmp_matches['Topic_Perc_Contrib'] <= bound*1.05)]
    
    #if df.shape[0] != 0:
        #dfs.append(df)
    dfs.append(df)
best_matches = pd.concat(dfs)

/tmp/ipykernel_2798/159530656.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df = tmp_matches[tmp_matches['Dominant_Topic']==topic][(tmp_matches['Topic_Perc_Contrib'] >= bound*.95) & (tmp_matches['Topic_Perc_Contrib'] <= bound*1.05)]

In [16]:
best_matches

,Dominant_Topic,Topic_Perc_Contrib,Keywords,Text_x,age,status,sex,location
317,13.0,0.0745,"love, friend, family, great, good, life, close...",i am a girl that is down to earth and enjoys w...,29,single,2,"san francisco, california"
561,13.0,0.0735,"love, friend, family, great, good, life, close...","i am a leader, reader and eater. i'm the glue ...",37,single,2,"oakland, california"
583,13.0,0.0727,"love, friend, family, great, good, life, close...",i raised my kids and grandkids. it is time to ...,57,single,2,"san francisco, california"
630,13.0,0.0780,"love, friend, family, great, good, life, close...",single 2 young and great kids 4 and 2 i have a...,30,single,1,"vallejo, california"
1094,13.0,0.0776,"love, friend, family, great, good, life, close...",i love a good challenge (especially conversati...,29,single,1,"oakland, california"
...,...,...,...,...,...,...,...,...
53762,6.0,0.0527,"guy, fun, pretty, good, friend, person, meet, ...",you will see.,32,single,2,"san leandro, california"
53786,6.0,0.0529,"guy, fun, pretty, good, friend, person, meet, ...","what's the saying ""what you see is what you get""",53,single,1,"san francisco, california"
53825,6.0,0.0527,"guy, fun, pretty, good, friend, person, meet, ...",just ask...,31,single,1,"san francisco, california"
54160,6.0,0.0527,"guy, fun, pretty, good, friend, person, meet, ...",ask me anything...:),23,single,2,"oakland, california"
54398,6.0,0.0527,"guy, fun, pretty, good, friend, person, meet, ...",i don't know what i'm doing on here.,33,seeing someone,2,"oakland, california"

In [12]:
!git add .

In [13]:
!git commit -m 'did best_matches function, able to return best matches within 10% range'

[norty2 76c0e94] did best_matches function, able to return best matches within 10% range
 2 files changed, 1297 insertions(+), 11 deletions(-)
 create mode 100644 ViV_backend/notebooks/ViV_top10.ipynb

In [14]:
!git push origin norty2

Warning: Permanently added the ECDSA host key for IP address '20.27.177.113' to the list of known hosts.
Enumerating objects: 10, done.
Counting objects: 100% (10/10), done.
Delta compression using up to 12 threads
Compressing objects: 100% (6/6), done.
Writing objects: 100% (6/6), 5.75 KiB | 2.87 MiB/s, done.
Total 6 (delta 5), reused 0 (delta 0)
remote: Resolving deltas: 100% (5/5), completed with 4 local objects.
To github.com:yourpandaboy/ViV.git
   9352c49..76c0e94  norty2 -> norty2

In [15]:
!gh browse

Opening github.com/yourpandaboy/ViV in your browser.


A new release of gh is available: 2.14.2 → 2.14.3
https://github.com/cli/cli/releases/tag/v2.14.3

In [112]:
tmp_matches[tmp_matches['Dominant_Topic']==topic][(tmp_matches['Topic_Perc_Contrib'] >= bound*.95) & (tmp_matches['Topic_Perc_Contrib'] <= bound*1.05)]
#['Topic_Perc_Contrib'].between(bound*.95,bound*.95)

/tmp/ipykernel_532/25632501.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  tmp_matches[tmp_matches['Dominant_Topic']==topic][(tmp_matches['Topic_Perc_Contrib'] >= bound*.95) & (tmp_matches['Topic_Perc_Contrib'] <= bound*1.05)]

,Dominant_Topic,Topic_Perc_Contrib,Keywords,Text_x,age,status,sex,location
985,4.0,0.0734,"open, honest, kind, good, passionate, person, ...",outgoing & smart looking for someone ready to ...,35,single,2,"emeryville, california"
2025,4.0,0.0730,"open, honest, kind, good, passionate, person, ...","im very active, outgoing, and adventurous and ...",28,single,1,"san mateo, california"
2151,4.0,0.0686,"open, honest, kind, good, passionate, person, ...","hi im alexander 19 years old, im salvadorian &...",19,single,1,"hayward, california"
2349,4.0,0.0711,"open, honest, kind, good, passionate, person, ...",fun. out going. raised in ny. self employed. m...,30,single,1,"san francisco, california"
2675,4.0,0.0732,"open, honest, kind, good, passionate, person, ...","a nice, handsome, and well rounded san francis...",28,single,1,"richmond, california"
...,...,...,...,...,...,...,...,...
53010,4.0,0.0667,"open, honest, kind, good, passionate, person, ...",i just am a big lovable teddy bear. can't go w...,27,single,1,"pacifica, california"
53270,4.0,0.0709,"open, honest, kind, good, passionate, person, ...",about me: i am a educate man good humor sence,42,single,1,"san francisco, california"
53575,4.0,0.0698,"open, honest, kind, good, passionate, person, ...","i am selfless, reliable, and awesome!",27,single,1,"oakland, california"
53715,4.0,0.0709,"open, honest, kind, good, passionate, person, ...",i like to talk about anything and everything. ...,37,single,1,"san francisco, california"
53817,4.0,0.0697,"open, honest, kind, good, passionate, person, ...","i'm puerto ricans and mexican, athletic, old f...",23,single,2,"stanford, california"

In [69]:
df[(df['Topic_Perc_Contrib'] >= bound*.95) & (df['Topic_Perc_Contrib'] <= bound*1.05)]

Empty DataFrame
Columns: [Dominant_Topic, Topic_Perc_Contrib, Keywords, Text_x, age, status, sex, location]
Index: []

In [71]:
tmp_matches

,Dominant_Topic,Topic_Perc_Contrib,Keywords,Text_x,age,status,sex,location
1,6.0,0.0916,"guy, fun, pretty, good, friend, person, meet, ...",i am a chef: this is what that means. 1. i am ...,35,single,1,"oakland, california"
30,6.0,0.0529,"guy, fun, pretty, good, friend, person, meet, ...",new here. coming soon ;),26,single,1,"san francisco, california"
41,13.0,0.1087,"love, friend, family, great, good, life, close...","1985- born, varberg, sweden 1986- knew how to ...",27,single,1,"san francisco, california"
51,4.0,0.1568,"open, honest, kind, good, passionate, person, ...","when it comes to my own life, i do as i please...",31,single,1,"san francisco, california"
63,4.0,0.1269,"open, honest, kind, good, passionate, person, ...",i can be extroverted and charming and yet enjo...,28,single,1,"oakland, california"
...,...,...,...,...,...,...,...,...
54428,6.0,0.0816,"guy, fun, pretty, good, friend, person, meet, ...",i have lived in sf off and on for 7.5 years no...,29,single,2,"san francisco, california"
54434,4.0,0.1208,"open, honest, kind, good, passionate, person, ...",southern charm with california style....i'm a ...,40,single,2,"san francisco, california"
54437,6.0,0.0991,"guy, fun, pretty, good, friend, person, meet, ...",just kind of a silly girl. super geek. ultra n...,22,single,2,"san francisco, california"
54446,13.0,0.0852,"love, friend, family, great, good, life, close...",i'm a southern girl from tennesse who moved to...,30,single,2,"san francisco, california"
54451,13.0,0.1172,"love, friend, family, great, good, life, close...",hi there and thanks for checking out my profil...,52,single,1,"san carlos, california"

In [27]:
f =df[(df['Dominant_Topic'] == 6) & (df['Topic_Perc_Contrib'] > 0.051036) & (df['Topic_Perc_Contrib'] < 0.056408) & (df['sex'] == 2)]

In [47]:
u =df[(df['Dominant_Topic'] == 13) & (df['Topic_Perc_Contrib'] > 0.071597) & (df['Topic_Perc_Contrib'] < 0.079134) & (df['sex'] == 2)]

In [10]:
def within_range():
    pass

In [52]:
pd.concat([f,u])

,Dominant_Topic,Topic_Perc_Contrib,Keywords,Text_x,age,status,sex,location
1064,6.0,0.0528,"guy, fun, pretty, good, friend, person, meet, ...",i am someone who doesn't take herself too seri...,34,single,2,"san mateo, california"
1385,6.0,0.0528,"guy, fun, pretty, good, friend, person, meet, ...",ask me and i will tell you : ),21,available,2,"san francisco, california"
1967,6.0,0.0527,"guy, fun, pretty, good, friend, person, meet, ...",more to come...,26,seeing someone,2,"san francisco, california"
2397,6.0,0.0527,"guy, fun, pretty, good, friend, person, meet, ...",my names alli.,24,single,2,"menlo park, california"
2652,6.0,0.0528,"guy, fun, pretty, good, friend, person, meet, ...","new here, just trying this out.",27,single,2,"san francisco, california"
...,...,...,...,...,...,...,...,...
49083,13.0,0.0751,"love, friend, family, great, good, life, close...","i love: baby animals, nature, art, flowers, wh...",29,single,2,"san francisco, california"
49701,13.0,0.0769,"love, friend, family, great, good, life, close...",i just moved to mountain view from berkeley (i...,39,seeing someone,2,"mountain view, california"
51120,13.0,0.0775,"love, friend, family, great, good, life, close...",i love... my family animals <3 the beach mexic...,21,single,2,"san francisco, california"
51762,13.0,0.0745,"love, friend, family, great, good, life, close...","born & raise in france, came to california at ...",40,single,2,"san mateo, california"
52339,13.0,0.0741,"love, friend, family, great, good, life, close...","""i've found heaven, and it's called my life."" ...",21,single,2,"berkeley, california"